In [49]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split


test_path = '../../Downloads/test.txt'
data_test = pd.read_csv(test_path, sep=',')
data_test.head(10)

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18
0,10001,28,101.8,237369,1982,муж.,неоконч. высшее,70983.0,0,106.442,0,низкий,1,0,0.0071,0.32,229000.0,0.775,1
1,10002,10,74.3,1350261,1985,жен.,среднее,36517.0,0,101.837,0,низкий,1,1,0.0081,-3.51,137000.0,0.644,1
2,10003,11,70.3,502305,1960,жен.,среднее,22463.0,0,95.150,0,низкий,1,1,0.0085,1.61,41000.0,0.686,1
3,10004,54,33.3,317761,1991,муж.,среднее,24118.0,1,106.572,0,высокий,1,1,0.0085,3.79,104000.0,0.405,2
4,10005,60,83.0,2172040,2002,жен.,неоконч. высшее,10902.0,1,122.649,0,низкий,1,0,0.0092,-5.64,80000.0,0.101,1
5,10006,89,76.4,200556,2002,муж.,высшее,39649.0,1,113.186,0,средний,1,0,0.0094,-3.06,263000.0,0.202,2
6,10007,26,80.7,2214073,1958,муж.,среднее,12218.0,0,114.318,0,высокий,1,0,0.0093,2.38,164000.0,0.660,2
7,10008,60,104.5,222656,1969,жен.,среднее,15067.0,0,112.859,0,средний,1,0,0.0075,-1.27,187000.0,0.109,3
8,10009,20,62.9,410080,1981,муж.,ср. общ.,27072.0,1,116.853,0,средний,0,1,0.0081,0.82,56000.0,0.217,2
9,10010,37,73.3,1030310,1996,муж.,высшее,29946.0,0,76.849,0,средний,1,0,0.0087,-3.01,120000.0,0.799,5

In [50]:
train_path = '../../Downloads/train.txt'
data = pd.read_csv(train_path, sep=',')
print(set(data['x5']))
data['x5'] = data['x5'].map({'жен.': 1, 'муж.': 0})
data['x11'] = data['x11'].map(
    {'низкий': 1,
     'средний': 2,
     'высокий': 3,
    })

y = data['y']
del data['y']
del data['x6']

X_train, X_val, y_train, y_val = train_test_split(data, y, train_size=0.6, shuffle=True)
X_train.head()

{nan, 'муж.', 'жен.'}

,id,x1,x2,x3,x4,x5,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18
7815,7816,31,78.4,840134,1980,0.0,58445.0,0,84.291,0,2.0,0,1,0.0075,-0.86,23000.0,0.437,2
8410,8411,74,77.1,1202468,1987,0.0,32952.0,1,110.495,0,2.0,1,0,0.0074,3.19,18000.0,0.617,4
5444,5445,39,44.0,1753670,2000,1.0,15151.0,0,92.305,0,3.0,1,1,0.0096,0.21,20000.0,0.413,5
23,24,93,70.8,253968,2002,1.0,61766.0,0,98.269,0,2.0,1,0,0.0090,0.52,70000.0,0.998,2
7842,7843,42,62.5,2081635,2002,1.0,44540.0,1,107.272,0,2.0,1,0,0.0085,-1.10,120000.0,0.892,4

In [40]:
X_train = np.asarray(X_train)
X_val = np.asarray(X_val)
y_train = np.asarray(y_train)
y_val = np.asarray(y_val)

In [41]:
from catboost import CatBoostClassifier

model = CatBoostClassifier(
    iterations=200,
    learning_rate=0.1,
    depth=4,
    verbose=False)

model.fit(X_train, y_train)

In [42]:
y_hat = model.predict(X_val)

In [43]:
from sklearn.metrics import accuracy_score, roc_auc_score

accuracy_score(y_hat, y_val)

0.985

In [46]:
roc_auc_score(y_val, y_hat)

0.4996195790007608

In [47]:
roc_auc_score(y_hat, y_val)

0.4928696522391794